@reference 'tailwindcss';

.container {
    @apply h-1 w-full bg-blue-100 overflow-hidden;
}

.line {
    @apply bg-blue-500 h-full;
    width: 75%;
    animation: loading 1.5s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

@keyframes loading {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(200%);
    }
}
